{% extends "base.html" %}
{% load i18n comments comments_xtd %}

{% block header %}{{ block.super }}{% trans "MIT Course Picker Comments" %}{% endblock %}

{% block content %}
<div id = "class-layer">
  <table cellpadding="10" border="0" cellspacing="0">
    <tr valign="top">
      <td width="16%" style="background: #BFBDAC">
	<div class="title">
	  <span><b>Search Comments:</b></span>
	</div>
	<form method="get" action="http://www.google.com/search"></br>
	    <input type="text"   name="q" size="31" maxlength="1000" value="" /> </br><br>
	    <input type="submit" value="Google Search" /> </br></br>
	    <input type="radio"  name="sitesearch" value="" /> The Web
	    <input type="radio"  name="sitesearch" value="http://picker.scripts.mit.edu/classcomment/viewcomments/comments" checked /> Picker<br />
	</form>
      </td>
      <td>
  <div class="course-title" style="font-size:20px"><H3>{{ object.number_name }}</H3></div>
<div style="padding-left:20px; padding-top: 0px; font-size:20px; font-style:italic">{{ object.title}}</div></br>
<div style="margin:10px 0; padding:0 150px 0 20px">
  <blockquote style="font-size:15px; margin-right:380px">
    {{ object.description|linebreaks }}
  </blockquote>
  <p style="padding: 0 10em;text-align:right">
    <b>{{ object.semester }}</b>
  </p>
</div>

<div id="comments" style="width:100%;margin:0 auto; padding-left:20px">
  {% get_comment_count for object as comment_count %}
  {% if comment_count %}
  <H4 class="center">{{ comment_count }} comment{{ comment_count|pluralize }}</H4>
  {% endif %}
  <div id="comment-list">
    {% render_comment_list for object %}

</div>
  <div style=" border-top: solid 1px; font-size:20px; margin-top:50px; margin-right:300px"
    <H4>{% trans "Your Comment" %}</H4>
  </div>
  <div id="comment-form" style="width:400px; text-align:left">
    {% render_comment_form for object %}
  </div>
</div>
  </td>
    </tr>
  </table>
</div>
<div id="schedule-preview-pane">
    <div class="title">
	<span><b>Most Recent Comments</b></span>
    </div>
      <H3 style="padding:0 5px 0; text-align: center">Last 10 comments</H3>
      <div class="most-recent-comments" style="width:280px">
	{% get_xtdcomment_count as comment_count for viewcomments.mitclass %}
	{% if comment_count %}
	{% render_last_xtdcomments 10 for viewcomments.mitclass %}
	{% else %}
      </div>
      <div style="padding:10px 15px; background:#eee">No comments yet.</div>
      {% endif %}
      <p style="padding-left:10px">
	<a href="{% url class-comments %}">
	  {% trans "all comments" %}
	</a>
      </p>
    </div>
</div>
{% endblock %}
