/*
 * Big UI pieces
 */
#browsing-interface {
    position:   relative;
    width:      100%;
}

#schedule-preview-pane {
    z-index:    1;
    position:   fixed;
    top:        1em;
    right:      -1px;
    width:      20em;
    background: #FFFCE6;
    border:     1px solid #fcd1ac;
}

#schedule-preview-pane > div {
    padding:    8px;
}
#schedule-preview-pane #mini-timegrid {
    padding:    0px;
}
#schedule-preview-pane div.title {
    margin:         0;
    padding:        0.25em 0.5em;
    background:     #fcd1ac;
    color:          #15243B;
}
#schedule-preview-pane div.title span {
    font-size:      120%;
    font-weight:    bold;
}

#classes-layer {
    margin-right:   20em;
}

#schedule-details-layer {
    position:       absolute;
    top:            0px;
    left:           0px;
    width:          100%;
    visibility:     hidden;
}
#schedule-details-layer-inner {
    margin:       1em; 
    margin-right: 21em;
}
@media print {
    #classes-layer {
        display:    none;
    }
    #schedule-preview-pane {
        display:    none;
    }
    #schedule-details-layer {
        position:   static;
        width:      100%;
    }
    #schedule-details-layer-inner {
        margin-right: 1em;
    }
}

#schedule-details-layer div.title {
    margin:         0;
    padding:        0.25em 0.5em;
    background:     #fcd1ac;
    color:          #15243B;
}
#schedule-details-layer div.title span {
    font-size:      120%;
    font-weight:    bold;
}

#no-picked-classes {
    padding:    2em;
    text-align: center;
}

#tabs {
    padding:    0.5em;
    background: #ffe;
    text-align: center;
}


div.collapsed-facet {
    border:     none;
    background: #FCD1AC;
    padding:    1px 2px;
    cursor:     pointer;
    margin-bottom:  0.5em;
}

div.exhibit-facet-header {
    border:     none;
    background: #FCD1AC;
    padding:    1px 2px;
    cursor:     pointer;
}
div.exhibit-facet-body {
    background: white;
    border:     none;
}

#mini-timegrid {
    margin: 5px;
    font-size: 80%;
    border: 0px;
}
#mini-timegrid .timegrid-ylabels div.timegrid-label {
    padding-top: 0px;
}
div.timegrid-week-highlight {
    background: none;
}

/*
 * Lenses
 */
div.course-lens {
    border:         1px solid #aac;
    margin-bottom:  2em;
}
div.course-title {
    padding:        0.25em;
    font-weight:    bold;
    background:     #9996c5;
    color:          #FFFCE6;
}
span.course-semester {
    float: right;
}
img.favorite-icon {
    float: right;
    cursor: pointer;
    margin-left: 1em;
}

table.course-body {
    width: 100%;
}

div.hkn-statistics {
	border:     1px solid #aaa;
}
div.hkn-stats-header {
	border-bottom:  1px #aaa solid;
    background:     #ccc;
	padding:        1px 3px;
	font-weight:    bold;

}
div.each-section-unpicked {
    background:     #FFFCE6;
	padding:		.25em;
}
div.each-section-picked {
	background:     #ddb;
	padding:		.25em;
}
div.each-section-picked button, div.each-section-unpicked button {
    width:          7em;
    float:          right;
}
span.section-instructor {
	font-style:		italic;
}
span.section-schedule {
	font-style:		italic;
}

#schedule-preview-pane ol.exhibit-tileView-body {
    padding-left:   1.75em;
}
#schedule-preview-pane .exhibit-tileView-body li {
    clear: both;
}
div.preview-class-lens {
	padding:        2px;
    color:          white;
    margin-bottom:  1px;
}
button.remove-preview {
    float: right;
}

div.course-topic {
}
div.course-description {
    padding:        0.5em 0 0.5em 0;
}
td.course-logistics {
}
div.no-offering {
    font-size: 120%;
    font-weight: bold;
    color: red;
}
