body {
    font-family: Trebuchet MS, Tahoma, Helvetica, Arial, sans serif;
    font-size:   10pt;
    padding:     0;
    margin:      0;
}
table {
    font-size: 100%;
}

/*
 * Big UI pieces
 */
#title {
    padding:        0.75em;
    font-size:      150%;
    border-bottom:  1px solid #ccc;
    background:     #eee;
}
#credits {
    padding:        0.1in 0.25in;
    font-size:      90%;
    text-align:     center;
}

#content {
    padding:     0.25in;
}

#starting-interface {
    margin: 2em;
}
#browsing-interface {
    display: none;
   position: absolute;
    left: 0px;
    width: 75%;
}
#picked-interface {
    display: none;
    position: fixed;
    width: 23%;
    right: 20px;
}
#tabs {
    padding: 0.5em;
    background: #ffe;
    text-align: center;
}

/*
 * Lenses
 */
div.course-lens {
    border:         1px solid #aac;
    margin-bottom:  2em;
}
div.course-title {
    padding:        0.25em;
    font-weight:    bold;
    background:     #dde;
}
div.hkn-statistics {
	border: 1px solid black;
	clear: right;
	padding: .5em 1em .5em 1em;
	margin-top: 1em;
}
div.hkn-stats-header {
	border-bottom: 1px black dashed;
	margin-bottom: .5em;
	font-weight: bold;

}
span.course-semester {
    float: right;
}
span.lecture-day {
	font-weight: bold
}
td.each-section {
	border-left: 1px black solid;
	border-top: 1px black solid;
	border-right: 1px black solid;
	background: yellow;
	cursor:default;
}
button.pick-button {
    float: right;
}
button.unpick-button {
    float: right;
    background: yellow;
}

table.course-body {
    width: 100%;
}
table.course-body td {
    padding: 0.25em;
}

div.course-topic {
}
div.course-description {
    padding:        0.5em 0 0.5em 0;
}
div.course-instructors {
    font-style: italic;
}

td.course-logistics {
    background: #eee;
}
div.no-offering {
    font-size: 120%;
    font-weight: bold;
    color: red;
}
