body {
    font-family: Trebuchet MS, Tahoma, Helvetica, Arial, sans serif;
    font-size:   10pt;
    padding:     0;
    margin:      0;
}
table {
    font-size: 100%;
}

/*
 * Big UI pieces
 */
#title {
    padding:        0.75em;
    border-bottom:  1px solid #ccc;
    background:     #eee;
}
#title h1 {
    margin:         0px;
    padding:        0px;
    font-size:      150%;
}

#starting-interface {
    padding: 2em;
}

#browsing-interface {
    position:   relative;
    display:    none;
    width:      100%;
}

#schedule-preview-pane {
    display:    none;
    z-index:    1;
    position:   fixed;
    top:        1em;
    right:      -1px;
    width:      20em;
    background: #eee;
    border:     1px solid #2080D0;
}

#schedule-preview-pane > div {
    padding:    10px;
}
#schedule-preview-pane div.title {
    margin:         0;
    padding:        0.25em 0.5em;
    background:     #4292D8;
    color:          white;
}
#schedule-preview-pane div.title span {
    font-size:      120%;
    font-weight:    bold;
}
#schedule-preview-pane div.title a {
    color:              white;
    text-decoration:    none;
}

#classes-layer {
    margin:         1em;
    margin-right:   21em;
}

#schedule-details-layer {
    position:       absolute;
    top:            0px;
    left:           0px;
    width:          100%;
    visibility:     hidden;
}
#schedule-details-layer div.title {
    margin:         0;
    padding:        0.25em 0.5em;
    background:     #4292D8;
    color:          white;
}
#schedule-details-layer div.title span {
    font-size:      120%;
    font-weight:    bold;
}
#schedule-details-layer div.title a {
    color:              white;
    text-decoration:    none;
}


#no-picked-classes {
    padding:    2em;
    text-align: center;
}

#tabs {
    padding:    0.5em;
    background: #ffe;
    text-align: center;
}

#mini-timegrid {
    margin: 5px;
    border: 1px solid #888;
}

div.collapsed-facet {
    border:     1px solid #aaa;
    background: #eee;
    padding:    0.25em;
    cursor:     pointer;
    margin-bottom:  1em;
}

div.exhibit-facet-header {
    border:     1px solid #aaa;
    background: #eee;
    padding:    0.25em;
    cursor:     pointer;
}

/*
 * Lenses
 */
div.course-lens {
    border:         1px solid #aac;
    margin-bottom:  2em;
}
div.course-title {
    padding:        0.25em;
    font-weight:    bold;
    background:     #dde;
}
div.hkn-statistics {
	border: 1px solid #aaa;
	clear: right;
	padding: .5em 1em .5em 1em;
	margin-top: 1em;
}
div.hkn-stats-header {
	border-bottom: 1px black dashed;
	margin-bottom: .5em;
	font-weight: bold;

}
span.course-semester {
    float: right;
}
span.lecture-day {
	font-weight: bold
}
div.each-section-unpicked {
	border:   		1px #884 solid;
	background:     #ffd;
	cursor:         pointer;
	padding:		.5em;
	position:		relative;
}
div.each-section-picked {
	border:   		1px #0f0 solid;
	background:     #ddb;
	cursor:         pointer;
	padding:		.5em;
	position:		relative;
}
div.add-remove {
	float:		right;
	position:	absolute;
	top:		0px;
	right:		-19px;
	background:	#ffd;
	border:		1px #884 solid;
}
div.picked-interface-list {
	position:	relative;
}
img.picked-interface-icon {
	position:	absolute;
	left:		-40px;
	cursor:		pointer;	
}
span.section-instructor {
	font-style:		italic;
}
button.pick-button {
    float: right;
}
button.unpick-button {
    float: right;
    background: yellow;
}

table.course-body {
    width: 100%;
}
table.course-body td {
    padding: 0.25em;
}

div.course-topic {
}
div.course-description {
    padding:        0.5em 0 0.5em 0;
}
div.course-instructors {
    font-style: italic;
}

td.course-logistics {
    background: #eee;
}
div.no-offering {
    font-size: 120%;
    font-weight: bold;
    color: red;
}
