<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}styles.css">
    <title>{% block title %}MIT Course Picker Alpha{% endblock %}</title>
  </head>
    <div class="wrapper">
      <div id="title">
	<div class="container">
	  <div class="grid-1">
	    <a target="_blank" href="http://web.mit.edu/"><img src="http://web.mit.edu/graphicidentity/interface/mit-blackred-footer3.gif"
	    alt="MIT" width="62" height="36" border="0" /></a><a href="http://picker.mit.edu/alpha/index.html"><h1>Course Picker (alpha)</h1></a>
	  </div>
	  <div class="grid-2">
	    <nav class = "navigation-menu">
	      <ul>
		<li><a href="http://picker.mit.edu/help.html" target="_blank"> HELP!</a></li>
		<li><a href="http://picker.mit.edu/credits.html" target="_blank">Credits</a></li>
		<li><a href="mailto:course-picker@lists.csail.mit.edu">Feedback</a></li>
		<li><a href="http://student.mit.edu/catalog/index.cgi" title="MIT's Official Course Catalog" target="_blank">Official Catalog</a></li>
		<li><a href="http://ocw.mit.edu/" title="MIT's OpenCourseWare" target="_blank">OCW</a></li>
	      </ul>
	    </nav>
	  </div>
	</div>
      </div>
      {% block content %}
      {% endblock %}
    </div>
</html>
