title {
    font-family: Trebuchet MS, Tahoma, Helvetica, Arial, sans serif;
    font-size:   100pt;
    margin:      0;
    padding:     0;
}

body {
    font-family: Trebuchet MS, Tahoma, Helvetica, Arial, sans serif;
    font-size:   10pt;
    padding:     0;
    margin:      0;
}

table {
    font-size: 100%;
    width:      60%;
    color:      #DCDCDC;
    padding-left: 38%;
}

tr {
    vertical-align: top;
}

td {
    width: 30%;
}

div#title {
    background:     #f7f7f7;
    color:          #15243B;
    z-index:        100;
    width:          100%;
    height:         60px;
}
#title h1 {
    margin:         0px;
    padding:        0px;
    font-size:      150%;
}

#title a img {
    border: none;
}

#starting-interface {
    padding: 2em;
}

div.course-title {
    padding-top: 0.25em;
    padding-left: 1em;
    font-weight: bold;
}

div.block_header {
    padding-top: 1.5em;
    padding-left: 1em;
    padding-bottom: .5em;
    font-weight: bold;
    background: #9996c5;
    color: #FFFCE6;
}

#schedule-preview-pane {
    z-index: 1;
    position: fixed;
    top: 1em;
    right: 3px;
    width: 20em;
    background: #FFFCE6;
    border: 1px solid #fcd1ac;
    overflow: auto;
    bottom: 0px;
}

#schedule-preview-pane div.title {
    margin: 0;
    padding: 0.25em 0.5em;
    background: #fcd1ac;
    color: #15243B;
    text-align: center;
}

#class-layer div.title {
    text-align: center;
}

#class-layer form {
    text-align: center;
}

#schedule-preview-pane div#most-recent-comments {
    width:300px;
}

.container {
    width:          100%;
    margin:         0px auto;
    position:       relative;
}

#title .container .grid-1 {
    width:          50%;
    float:          left;
    margin-top:     20px;
}

#title .container .grid-1 img {
    float:          left;
}

#title .container .grid-1 header {
    position:       relative;
}

#title .container .grid-2 {
    width: 50%;
    float: right;
    margin-top: 30px;
}

#title .container ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#title .container ul li {
    float: left;
    text-align: center;
    width: 20%;
}

#title .container ul li a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

#starting-interface {
    padding: 2em;
}

.blurb {
    color:          #DCDCDC;
    font-size:      120%;
    width:          100%;
    background:     #9A3334;
    padding: 2em 0;
}

#starting-interface .class_wrapper {
    background: #eee;
}

.blurb .introduction {
    padding: 3em 3em;
    text-align: center;
}

#class-layer {
    text-align: center;
    width: 80%;
    margin-left: 15%;
}

.footer {
    background: #81A594;
    padding: 20px 0;
}

#recent_comment {
    background: transparent;
    margin-top: 20px;
    color: #DCDCDC;
    border-color: #DCDCDC;
    font-size: 20px;
    font-family: "brandon-grotesque",sans-serif;
}

#recent_comment:hover {
    background: #81A594;
    border-color: black;
    color: black;
    cursor: pointer;
}